:root {
    --idvgreen: #79E9CE;
    --idvpurple: #9C8CCA;
    --idvpink: #EBB2D3;
    --idvblue: #9ECFED;

    --scrollPos: 0;
    --navShiftPoint: 500;
    --navProg: clamp(0,calc((var(--scrollPos) - var(--navShiftPoint)) / 100),1);
    --navProgInv: calc(1 - var(--navProg));
    overflow-x: hidden;
}

#navbar{
    position: fixed;
    top: 0vw;
    left: 0vw;
    width: 100%;
    height: 5vw;
    z-index: 1000;
}

#layoutGrid{
    position: relative;
    left: 0vw;
    top: 6vw;
    width: 100%;
    height: 95vw;
    display: grid;
    grid-auto-flow: row dense;
    justify-content: space-around;
    grid-template-columns: repeat(8, 10vw);
    grid-template-rows: repeat(auto-fill, 10vw);
    grid-row-gap: 2.5vw;
}

#leftNavs{
    position: relative;
    left: 1.25vw;
    top: 0vw;
    width: 70vw;
    height: 100%;
    display: grid;
    grid-auto-flow: column;
    justify-content: space-around;
    align-content: center;
    justify-content: left;
}

#graphThree {
    grid-row-start: 4; 
    grid-column-start: 2;
    grid-row-end: 7; 
    grid-column-end: 8;
    width: 100%;
    height: 100%;
}

#graphFour {
    grid-row-start: 10; 
    grid-column-start: 2;
    grid-row-end: 13; 
    grid-column-end: 8;
    width: 100%;
    height: 100%;
}

.navButton{
    position: relative;
    font-family: Helvetica, sans-serif;
    color: white;
    height: 3vw;
    width: fit-content;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    border-radius: 3vw;
    background-color: var(--idvpurple);
    display: grid;
    align-content: center;
    margin-right: calc(
        0.5vw * var(--navProgInv) - 15vw * var(--navProg));
    text-decoration: none;
    font-size: max(1.25vw, 16px);
    opacity: calc(1 - var(--navProg));
}

.circleNav{
    position: relative;
    width: 3vw;
    height: 3vw;
    background-color: var(--idvpurple);
    /* opacity: var(--navProg); */
    border-radius: 3vw;
    display: grid;
    align-content: center;
    justify-content: center;
    z-index: 10;
}

svg.circleNavIcon{
    fill: white;
    width: 1.5vw;
    height: auto;
}

.circleNav:hover svg.circleNavIcon{
    fill: var(--idvpurple);
}

.purplePinkHoverStroke:hover{
    background-color: white !important;
    color: var(--idvpurple);
}

.purplePinkHoverStroke:hover::before{
    --gradWidth: 4px;
    content: "";
    position: absolute;
    left: calc(-1 * var(--gradWidth)/2);
    top: calc(-1 * var(--gradWidth)/2);
    width: calc(100% + var(--gradWidth));
    height: calc(100% + var(--gradWidth));
    border-radius: 5vw;
    background: linear-gradient(180deg, var(--idvpurple) 0%, var(--idvpink) 100%);
    z-index: -10;
}

.testObject{
    background: var(--idvpink);
    width: 100%;
    height: 100%;
}