:root {
    --idvgreen: #79E9CE;
    --idvpurple: #9C8CCA;
    --idvpink: #EBB2D3;
    --idvblue: #9ECFED;

    --idvdarkpurple: #4e4665;

    --emmaStart: 40;

    --scrollPos: 0;
    --navShiftPoint: 500;
    --navProg: clamp(0, calc((var(--scrollPos) - var(--navShiftPoint)) / 100), 1);
    --navProgInv: calc(1 - var(--navProg));
    overflow-x: hidden;
    color: var(--idvdarkpurple);
    font-family: Helvetica, sans-serif;

    /* just some defaults so classes don't get mad */
    --this-border-radius: 0vw;
    --accent-color: var(--idvpink);
}

::-moz-selection {
    /* Code for Firefox */
    background: var(--idvgreen);
}

::selection {
    background: var(--idvgreen);
}

#navbar {
    position: fixed;
    top: 0vw;
    left: 0vw;
    width: 100%;
    height: 5vw;
    z-index: 1000;
}

#layoutGrid {
    position: relative;
    left: 0vw;
    top: 6vw;
    width: 100%;
    height: 200vw;
    display: grid;
    grid-auto-flow: row;
    justify-content: space-around;
    grid-template-columns: repeat(8, 10vw);
    grid-template-rows: repeat(auto-fill, 10vw);
    grid-row-gap: 2.5vw;
}

#leftNavs {
    position: relative;
    left: 1.25vw;
    top: 0vw;
    width: 70vw;
    height: 100%;
    display: grid;
    grid-auto-flow: column;
    justify-content: space-around;
    align-content: center;
    justify-content: left;
}

#rightNavs {
    position: absolute;
    right: 1vw;
    top: 0vw;
    width: 40vw;
    height: 100%;
    display: grid;
    grid-auto-flow: column;
    justify-content: space-around;
    align-content: center;
    justify-content: right;
}

h1 {
    font-size: 6vw;
    font-weight: bold;
}

h2 {
    font-size: 4vw;
    font-weight: bold;
}

h3{
    font-size: 2.5vw;
    font-weight: bold;
}

h4{
    font-size: 2vw;
}

p {
    font-size: 2vw;
    margin-bottom: 0;
    line-height: 1.3;
}

.purpleEmphasis {
    color: var(--idvpurple);
    font-weight: bolder;
    text-decoration: underline;
}

#homeTitle {
    grid-row: 1 / 3;
    grid-column: 2/5;
    width: 110%;
    position: relative;
    text-align: right;
    left: 0;
    vertical-align: center;
    height: 100%;
}

#homeBannerImg {
    grid-row: 1 / 3;
    grid-column-start: 5;
    grid-column-end: 8;
    width: 80%;
    right: 0;
    position: absolute;
    bottom: 0;
    margin-top: auto;
}

#scrollPrompt {
    grid-row: 4 / 4;
    grid-column: 4 / 6;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    text-align: center;
    display: grid;
    align-content: end;
    margin-top: 0;
}

#studentNeeds {
    grid-row: 4 / 4;
    grid-column: 1 / 11;
}

#studentNeedsHeader {
    grid-row: 7 / 7;
    grid-column: 3 / 7;
    width: 100%;
    height: 100%;
    display: grid;
    align-content: end;
    margin-top: 0;
    text-align: center;
    border-bottom: solid 6px var(--idvpurple);
}

#studentNeedsText {
    grid-row: 8 / 9;
    grid-column: 2 / 8;
    width: 100%;
    height: 100%;
    display: grid;
    margin-top: 0;
    /* align-content: space-between; */
}

#accessibleRoutesTitle{
    grid-row: 11 / 11;
    grid-column: 3 / 7;
    display: grid;
    align-items: end;
    height: 100%;
    text-align: center;
    border-bottom: solid 6px var(--idvpurple);
    margin-top: 0;
}

#graphOneContainer{
    grid-row: 12 / 16;
    grid-column: 2 / 6;
    position: relative;
    display: grid;
    justify-content: right;
}

#graphOneInfoBox{
    grid-row: 12 / 16;
    grid-column: 6 / 9;
    width: 100%;
    min-height: 100%;
    height: min-content;
    position: absolute;
    background: white;
    --this-border-radius: 2vw;
    --accent-color: var(--idvpurple);
    border-radius: 2vw;
}
 
#graphOneInfoBox p {
    width: 80%;
    left: 10%;
    position: relative;
}

.dataViewerSubhead{
    text-align: left;
    width: 100%;
    display: inline-block;
    border-bottom: solid 2px var(--idvpurple);
    margin-top: -1vw;
    word-wrap: none;
}

.dataViewerData{
    margin-top: 0.5vw;
    width: 100%;
    display: inline-grid; 
    justify-content: end;
    text-align: right;
}

.isAccessibleData{
    font-weight: bolder;
}

.dataViewerHeader{
    width: 80%;
    left: 10%;
    position: relative;
    text-align: center;
    height: auto;
    padding-bottom: 1vw;
    color: var(--idvpurple);
    border-bottom: solid 3px var(--accent-color);
}

#adminImportance {
    grid-row: var(--emmaStart) / calc(var(--emmaStart));
    grid-column: 1 / 11;
}

#adminImportanceHeader {
    grid-row: var(--emmaStart) / calc(var(--emmaStart) + 1);
    grid-column: 2 / 7;
    width: 100%;
    height: 100%;
    display: grid;
    align-content: end;
    margin-top: 0;
    text-align: left;
}

#brImg {
    grid-row: calc(var(--emmaStart) + 1 ) / calc(var(--emmaStart) + 1);
    grid-column: 2 / 3;
    position: absolute;
    top: 15%;
    width: 140%;
    position: relative;
    margin-top: auto;
}

#adminImportanceText {
    grid-row: calc(var(--emmaStart) + 1 ) / calc(var(--emmaStart) + 4);
    grid-column: 3 / 8;
    width: 90%;
    height: 100%;
    display: grid;
    right: 0;
    position: absolute;
    margin-top: 0;
    text-align: left;
}

#graphFourHeader {
    grid-row: calc(var(--emmaStart) + 7 ) / calc(var(--emmaStart) + 7);
    grid-column: 2 / 9;
    width: 100%;
    height: 100%;
    display: grid;
    align-content: end;
    margin-top: 0;
    text-align: left;
}

#graphFourContainer {
    grid-row: calc(var(--emmaStart) + 8 ) / calc(var(--emmaStart) + 13);
    grid-column: 2 / 8;
    width: 100%;
    height: 100%;
}

#retention {
    grid-row: calc(var(--emmaStart) + 14 ) / calc(var(--emmaStart) + 14);
    grid-column: 1 / 11;
}

#happyImg {
    grid-row: calc(var(--emmaStart) + 15 ) / calc(var(--emmaStart) + 20);
    grid-column: 5 / 8;
    position: absolute;
    width: 80%;
    position: relative;
    top: 15%;
    right: 0;
    position: absolute;
}

#retentionText {
    grid-row: calc(var(--emmaStart) + 15 ) / calc(var(--emmaStart) + 20);
    grid-column: 2 / 5;
    width: 120%;
    height: 100%;
    display: grid;
    margin-top: 0;
    text-align: left;
}


#graphThreeHeader {
    grid-row: calc(var(--emmaStart) + 23 ) / calc(var(--emmaStart) + 23);
    grid-column: 2 / 8;
    width: 100%;
    height: 100%;
    display: grid;
    align-content: end;
    margin-top: 0;
    text-align: left;
}

#graphThreeContainer {
    grid-row: calc(var(--emmaStart) + 24 ) / calc(var(--emmaStart) + 27);
    grid-column: 2 / 8;
    width: 100%;
    height: 100%;
}

#closingText {
    grid-row: calc(var(--emmaStart) + 29) / calc(var(--emmaStart) + 40);
    grid-column: 2 / 8;
    width: 100%;
    height: 100%;
    text-align: center;
}

#conclusionYOU {
    grid-row: calc(var(--emmaStart) + 42) / calc(var(--emmaStart) + 55);
    grid-column: 2 / 8;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 30vw;
    font-weight: bold;
}

#closeBannerImg {
    grid-row: calc(var(--emmaStart) + 48) / calc(var(--emmaStart) + 55);
    grid-column: 2 / 8;
    width: 100%;
    position: absolute;
    margin-top: auto;
}

#conclusionAfter {
    grid-row: calc(var(--emmaStart) + 55) / calc(var(--emmaStart) + 62);
    grid-column: 2 / 8;
    width: 100%;
    text-align: center;
}

#email2Button {
    grid-row: calc(var(--emmaStart) + 59) / calc(var(--emmaStart) + 65);
    grid-column: 4;
    width: 8vw;
    height: 8vw;
    background-color: var(--idvpurple);
    border-radius: 8vw;
    display: grid;
    align-content: center;
    justify-content: center;
}

#petition2Button {
    grid-row: calc(var(--emmaStart) + 59) / calc(var(--emmaStart) + 65);
    grid-column: 5;
    width: 8vw;
    height: 8vw;
    background-color: var(--idvpurple);
    border-radius: 8vw;
    display: grid;
    align-content: center;
    justify-content: center;
    margin-bottom: 20vw;
}


.navButton {
    position: relative;
    color: white;
    height: 3vw;
    width: fit-content;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    border-radius: 3vw;
    background-color: var(--idvpurple);
    display: grid;
    align-content: center;
    margin-right: calc(0.5vw * var(--navProgInv) - 15vw * var(--navProg));
    text-decoration: none;
    font-size: max(1.25vw, 16px);
    opacity: calc(1 - var(--navProg));
}

.circleNav {
    position: relative;
    width: 3vw;
    height: 3vw;
    background-color: var(--idvpurple);
    opacity: var(--navProg);
    border-radius: 3vw;
    display: grid;
    align-content: center;
    justify-content: center;
}

.circleShare {
    position: relative;
    width: 3vw;
    height: 3vw;
    margin-right: calc(0.5vw * var(--navProgInv) - 15vw * var(--navProg));
    background-color: var(--idvpurple);
    opacity: calc(1 - var(--navProg));
    border-radius: 3vw;
    display: grid;
    align-content: center;
    justify-content: center;
}

.stayShare {
    position: relative;
    width: 3vw;
    height: 3vw;
    background-color: var(--idvpurple);
    border-radius: 3vw;
    display: grid;
    align-content: center;
    justify-content: center;
}

svg.circleNavIcon {
    fill: white;
    width: 1.5vw;
    height: auto;
}

svg.bottomIcon {
    fill: white;
    width: 3vw;
    height: auto;
}

.circleNav:hover svg.circleNavIcon {
    fill: var(--idvpurple);
}

.stayShare:hover svg.circleNavIcon {
    fill: var(--idvpurple);
}

.circleShare:hover svg.circleNavIcon {
    fill: var(--idvpurple);
}

#petition2Button:hover svg.bottomIcon {
    fill: var(--idvpurple);
}

#email2Button:hover svg.bottomIcon {
    fill: var(--idvpurple);
}


.purplePinkHoverStroke:hover {
    background-color: white !important;
    color: var(--idvpurple);
}

.purplePinkHoverStroke:hover::before {
    --gradWidth: 4px;
    content: "";
    position: absolute;
    left: calc(-1 * var(--gradWidth)/2);
    top: calc(-1 * var(--gradWidth)/2);
    width: calc(100% + var(--gradWidth));
    height: calc(100% + var(--gradWidth));
    border-radius: 5vw;
    background: linear-gradient(180deg, var(--idvpurple) 0%, var(--idvpink) 100%);
    z-index: -1;
}

.boxGradient::before{
    --gradWidth: 6px;
    content: "";
    position: absolute;
    left: calc(-1 * var(--gradWidth)/2);
    top: calc(-1 * var(--gradWidth)/2);
    width: calc(100% + var(--gradWidth));
    height: calc(100% + var(--gradWidth));
    border-radius: calc(var(--this-border-radius) + var(--gradWidth) / 2);
    background: linear-gradient(180deg, var(--idvpurple) 0%, var(--accent-color) 100%);
    z-index: -1;
}